<footer aria-label="Webbplatsens footer">
  <div class="contact">
    <a href="mailto:viggotho@gmail.com?subject=Hej%20Viggo&body=Hej%20Viggo%2C%0D%0A" aria-label="Maila Viggo Thorell">
      <i class="bi bi-envelope-fill footer-icon" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/viggo-thorell-0b31a2352" target="_blank" rel="noopener noreferrer" aria-label="Besök Viggos LinkedIn-profil">
      <i class="bi bi-linkedin footer-icon" aria-hidden="true"></i>
    </a>
  </div>
</footer>
<p class="atviggo">
  @Viggo Thorell
</p>
