<footer>
  <div class="contact">
    <a href="mailto:viggotho@gmail.com" target="_blank">
      <i class="bi bi-envelope-fill footer-icon"></i>
    </a>
    <a href="http://linkedin.com/in/viggo-thorell-0b31a2352" target="_blank">
      <i class="bi bi-linkedin footer-icon"></i>
    </a>
  </div>
</footer>
<p class="atviggo">
    @Viggo Thorell 
  </p>
