<header>
  <button id="hamburgerBtn">☰</button>
  <div id="fullscreenMenu" class="hidden">
    <a href="/"><button id="closeBtn">×</button></a>
    <ul>
      <li><a href="/om-mig">Om mig</a></li>
      <li><a href="/erfarenheter">Erfarenheter</a></li>
      <li><a href="/projekt">Projekt</a></li>
      <li><a href="/lia">LIA</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </div>
</header>
