<header>
  <button id="hamburgerBtn">☰</button>

  <div id="fullscreenMenu" class="hidden">
    <button id="closeBtn">×</button>
    <ul>
      <li><a href="/om-mig">Om mig</a></li>
      <li><a href="/erfarenheter">Erfarenheter</a></li>
      <li><a href="/projekt">Projekt</a></li>
      <li><a href="/lia">LIA</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </div>

  <button id="darkModeBtn">🌙</button>
</header>
