<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Om-mig</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>

  <%- include('partials/header') %>

  <main>
    <a href="/"><h1 class="namn">Viggo Thorell</h1></a>
  </main>

  <h2 class="erfarenheter">Erfarenheter</h2>

  <hr>

  <div class="plugga-container">
    <img class="plugga" src="/images/plugga.webp" alt="ai bild när jag pluggar">
    <p class="plugga-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet suscipit enim architecto, hic aut similique, blanditiis itaque quasi ipsum id voluptatibus repellendus eaque deserunt, nulla deleniti et molestias? Libero, placeat.
    </p>
  </div>

  <div class="truck-container">
    <img class="truck" src="/images/truck.webp" alt="ai bild när jag kör truck">
    <p class="truck-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet suscipit enim architecto, hic aut similique, blanditiis itaque quasi ipsum id voluptatibus repellendus eaque deserunt, nulla deleniti et molestias? Libero, placeat.
    </p>
  </div>

  <div class="glass-container">
    <img class="glass" src="/images/glass.webp" alt="ai bild när jag jobbar i glass kiosk">
    <p class="glass-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet suscipit enim architecto, hic aut similique, blanditiis itaque quasi ipsum id voluptatibus repellendus eaque deserunt, nulla deleniti et molestias? Libero, placeat.
    </p>
  </div>

  <div class="aristo-container">
    <img class="aristo" src="/images/aristo.webp" alt="ai bild när jag jobbar som maskinoperatör ">
    <p class="aristo-text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet suscipit enim architecto, hic aut similique, blanditiis itaque quasi ipsum id voluptatibus repellendus eaque deserunt, nulla deleniti et molestias? Libero, placeat.
    </p>
  </div>

  <div class="veta-mer-container">
    <p class="veta-mer">Vill du veta mer?</p>
    <a href="/om-mig"><p class="veta-mer1">Klicka här!</p></a>
  </div>

  <%- include('partials/footer') %>

  <script src="/javascripts/script.js"></script>
</body>
</html>